In [3]:
x = 0

while True:
    # 코드작성
    x += 1
    if x > 20:
        break
    if x % 3 == 0 or x % 5 == 0:
        continue
    print(x, end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
score = 85

if score >= 60:
    message = "pass"
else:
    message = "fail"

In [ ]:
# 조건부 표현식

message = "pass" if score >= 60 else "fail"

In [ ]:
numbers = [1,2,3,4,5,6,7, 8, 9]

In [8]:
num_list = []
for i in range(1, 10):
    # print(i)
    num_list.append(i)
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트 컴프리헨션
numbers = [i for i in range(1, 10)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
numbers = [i**2 for i in range(1, 10)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
numbers = [i for i in range(1, 10) if i % 2 == 0]
numbers

[2, 4, 6, 8]

In [ ]:
# 도전미션 
리스트 numbers 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, numbers에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들은 numbers의 원소의 순서를 유지해야 합니다. 

예를 들면,
numbers = [1, 1, 3, 3, 0, 1, 1] ->  [1, 3, 0, 1] 
numbers = [4, 4, 4, 3, 3] ->  [4, 3]
코드를 작성해 주세요

In [11]:
numbers = [4, 4, 4, 3, 3]

answer = []
compare_num = numbers[0]
answer.append(compare_num)

for i in numbers:
    if compare_num != i:
        compare_num = i
        answer.append(compare_num)

answer

[4, 3]

### 딕셔너리

In [48]:
menu = {'김밥':2000, '라면':3000, '돈까스':5000}

In [50]:
menu['치즈김밥']

KeyError: '치즈김밥'

In [47]:
print(list(menu.keys()))

['김밥', '라면', '돈까스']

In [21]:
menu.values()

dict_values([2000, 3000, 5000])

In [22]:
menu.items()

dict_items([('김밥', 2000), ('라면', 3000), ('돈까스', 5000)])

In [26]:
for i, j in menu.items():
    print(i, j)

김밥 2000
라면 3000
돈까스 5000

In [28]:
menu['김밥'] = 5000

In [51]:
menu.get('치즈김밥', "키가 없음")

'키가 없음'

In [52]:
if '치즈김밥' in menu:
    print('있어')
else:
    print('없어')

없어

In [40]:
menu

{'김밥': 5000, '라면': 3000}

In [31]:
menu['치즈김밥'] = 6000

In [37]:
menu.pop('치즈김밥')

6000

In [39]:
menu.popitem()

('돈까스', 5000)

In [14]:
type(menu)

dict

In [17]:
mydict = dict()

In [18]:
type(mydict)

dict

In [54]:
# 전화번호 검색 프로그램

addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}

while True:
    menu = int(input('메뉴선택(1:추가, 2:검색, 0:종료)? '))
    if menu == 1: # 추가기능
        # print('추가하는 기능')
        addr_key = input('이름입력: ')
        addr_value = input('전화번호 입력: ')
        addr[addr_key] = addr_value
    elif menu == 2:# 검색기능
        print("친구들 목록: ", list(addr.keys()))
        addr_name = input('이름 입력:')
        if addr_name in addr:
            print(addr_name, addr[addr_name])
        else:
            print('그런친구는 없습니다. ')
    elif menu == 0:# 종료
        break
    else: # 잘못된메뉴선택
        print("제대로 된 번호를 선택하세요!!")

친구들 목록:  ['박지민', '전정국', '민윤기', '정호석', '김태형', '김석진']
박지민 010-1111-1234

In [74]:
text = "Hello, Python!"

In [ ]:
text.

In [76]:
"12345".isdigit()

True

In [73]:
text.count('l')

2

In [64]:
text = "1 2 3 4 5"

In [59]:
text[::-1]

'!nohtyP ,olleH'

In [70]:
words = text.split(", ")
"-".join(words)

'Hello-Python!'

In [67]:
text.replace("Python", "World")

'Hello, World!'

In [83]:
# 모스부호 해석기
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 
} 

# ".... . .-.. .-.. ---"  "hello" 
# ".--. -.-- - .... --- -."   "python" 

letters = ".--. -.-- - .... --- -."

# 코드작성
letters_list = letters.split()

answer = ''
for i in letters_list:
    answer += morse[i]

#"hello"
answer

'python'

In [ ]:
morse

#### set과 tuple

In [98]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [100]:
# a.union(b)
a | b

{1, 2, 3, 4, 5, 6}

In [102]:
# a & b
a.intersection(b)

{3, 4}

In [104]:
# a.difference(b)
a - b

{1, 2}

In [91]:
s2 = set()

In [ ]:
s.

In [97]:
s

{1, 2, 3, 4}

In [92]:
type(s2)

set

In [ ]:
immutable

In [105]:
t = (1, 2, 3)

In [109]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [107]:
type(t)

tuple

In [ ]:
# 도전미션 - 빼빼로 판매 

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.

손님1 = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

판매1 = ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [114]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

# 코드작성
answer = list(set(pepero))
answer.sort()
answer
# ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [117]:
# 중복되지 않는 단어의 갯수를 알려주세요! 
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

len(set(words.split()))

7

In [130]:
t = 1,2,3

In [131]:
t

(1, 2, 3)

In [132]:
type(t)

tuple

### 함수

In [ ]:
dir(__builtins__)

In [260]:
myList = [1,2,3,4,5]

In [139]:
result = []
for i in myList:
    result.append(i + 1)
result

[2, 3, 4, 5, 6]

In [263]:

result2 = map(lambda x: x**2, myList)
list(result2)

[1, 4, 9, 16, 25]

In [149]:
def myadd(a, b):
    print('myadd')
    return a+b

In [154]:
result = myadd(3, 7)
result

myadd

10

In [ ]:
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

len(set(words.split()))

In [155]:
def count_word(mystr):
    word_num = len(set(mystr.split()))
    return word_num

In [158]:
count_word("Hello Hello")

1

In [186]:
def max_num(a, b, c):
    max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    return max_val

In [190]:
max_num(-3, 0, 1, 2)

TypeError: max_num() takes 3 positional arguments but 4 were given

In [169]:
def min_num(array):
    min_val = array[0]
    for i in array:
        if min_val > i :
            min_val = i
    return min_val

In [171]:
min_num([0, -1, 3, 87, -100])

-100

In [175]:
def isLeafYear(year):
    # year % 4 == 0
    # year % 100 != 0
    # year % 400 == 0
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

In [179]:
isLeafYear(2000) # True
# isLeafYear(2026) # False

True

In [181]:
a = print("Hello World")

Hello World

In [ ]:
print("Hello World", "Hello World")

Hello World Hello World

In [207]:
def add_many(*args):
    # print(args)
    # 전체합을 반환하는 코드
    result = 0
    for i in args:
        result += i
    return result

In [208]:
add_many()

0

In [209]:
add_many(1,2,3)

6

In [210]:
add_many(1,2,3, 4, 5, 6, 7, 8, 9, 10)

55

In [ ]:
def add_mul(choice, *args):
    print(choice, args)
    if choice == 'add':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        return result
    else:
        print('연산자 종류 확인 요망')
        return None

In [225]:
add_mul('aaa', 1)

aaa (1,)
연산자 종류 확인 요망

In [220]:
add_mul('add', 1, 2, 3)

add (1, 2, 3)

6

In [222]:
add_mul('mul', 1, 2, 3, 4, 5)

mul (1, 2, 3, 4, 5)

120

In [228]:
t = 1, 2, 3

In [229]:
type(t)

tuple

In [230]:
t

(1, 2, 3)

In [ ]:
def add_and_mul(a, b):
    return a+b, a*b

In [235]:
result1, result2 = add_and_mul(3, 4)

In [237]:
result2

12

In [ ]:
def add_and_mul(a, b):
    return a+b
    return a*b # 절대 실행되지 않는 코드

In [243]:
def say_myself(name, age, man=True):
    print(f'내 이름은 {name}이고 {age}살이야')
    if man:
        print('남자')
    else:
        print('여자')

In [245]:
say_myself('박지민', 31,  man=False)

내 이름은 박지민이고 31살이야
여자

In [248]:
def complex_func(a, b, *args, **kwargs):
    print('고정인자', a, b)
    print('가변인자', args)
    print('키워드인자', kwargs)

In [249]:
complex_func(1, 2, 3, 4, 5, name="박지민", age=32)

고정인자 1 2
가변인자 (3, 4, 5)
키워드인자 {'name': '박지민', 'age': 32}

In [254]:
round(100.7)

101

In [259]:
f = (3.14, -5.625, 100.4, 25.8)

print(tuple(map(round, f)))

(3, -6, 100, 26)

In [265]:
numbers = [1,2,3,4,5,6]

result = list(map(lambda x: x**2 ,numbers))
print(result) # [1, 4, 9, 16, 25, 36]

[1, 4, 9, 16, 25, 36]

In [267]:
numbers = [1,2,3,4,5,6]

result = list(filter( lambda x: x % 2 == 0 ,numbers))
print(result) # [2, 4, 6]

[2, 4, 6]

In [269]:
points = [(1, 2), (3, 4), (5, 1)]

result = sorted(points, key=lambda x: x[1])
print(result)

[(5, 1), (1, 2), (3, 4)]