In [3]:
x = 0

while True:
    # 코드작성
    x += 1
    if x > 20:
        break
    if x % 3 == 0 or x % 5 == 0:
        continue
    print(x, end=" ")

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
score = 85

if score >= 60:
    message = "pass"
else:
    message = "fail"

In [ ]:
# 조건부 표현식

message = "pass" if score >= 60 else "fail"

In [ ]:
numbers = [1,2,3,4,5,6,7, 8, 9]

In [8]:
num_list = []
for i in range(1, 10):
    # print(i)
    num_list.append(i)
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트 컴프리헨션
numbers = [i for i in range(1, 10)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
numbers = [i**2 for i in range(1, 10)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
numbers = [i for i in range(1, 10) if i % 2 == 0]
numbers

[2, 4, 6, 8]

In [ ]:
# 도전미션 
리스트 numbers 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, numbers에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들은 numbers의 원소의 순서를 유지해야 합니다. 

예를 들면,
numbers = [1, 1, 3, 3, 0, 1, 1] ->  [1, 3, 0, 1] 
numbers = [4, 4, 4, 3, 3] ->  [4, 3]
코드를 작성해 주세요

In [11]:
numbers = [4, 4, 4, 3, 3]

answer = []
compare_num = numbers[0]
answer.append(compare_num)

for i in numbers:
    if compare_num != i:
        compare_num = i
        answer.append(compare_num)

answer

[4, 3]

### 딕셔너리

In [48]:
menu = {'김밥':2000, '라면':3000, '돈까스':5000}

In [50]:
menu['치즈김밥']

KeyError: '치즈김밥'

In [47]:
print(list(menu.keys()))

['김밥', '라면', '돈까스']

In [21]:
menu.values()

dict_values([2000, 3000, 5000])

In [22]:
menu.items()

dict_items([('김밥', 2000), ('라면', 3000), ('돈까스', 5000)])

In [26]:
for i, j in menu.items():
    print(i, j)

김밥 2000
라면 3000
돈까스 5000

In [28]:
menu['김밥'] = 5000

In [51]:
menu.get('치즈김밥', "키가 없음")

'키가 없음'

In [52]:
if '치즈김밥' in menu:
    print('있어')
else:
    print('없어')

없어

In [40]:
menu

{'김밥': 5000, '라면': 3000}

In [31]:
menu['치즈김밥'] = 6000

In [37]:
menu.pop('치즈김밥')

6000

In [39]:
menu.popitem()

('돈까스', 5000)

In [14]:
type(menu)

dict

In [17]:
mydict = dict()

In [18]:
type(mydict)

dict

In [54]:
# 전화번호 검색 프로그램

addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}

while True:
    menu = int(input('메뉴선택(1:추가, 2:검색, 0:종료)? '))
    if menu == 1: # 추가기능
        # print('추가하는 기능')
        addr_key = input('이름입력: ')
        addr_value = input('전화번호 입력: ')
        addr[addr_key] = addr_value
    elif menu == 2:# 검색기능
        print("친구들 목록: ", list(addr.keys()))
        addr_name = input('이름 입력:')
        if addr_name in addr:
            print(addr_name, addr[addr_name])
        else:
            print('그런친구는 없습니다. ')
    elif menu == 0:# 종료
        break
    else: # 잘못된메뉴선택
        print("제대로 된 번호를 선택하세요!!")

친구들 목록:  ['박지민', '전정국', '민윤기', '정호석', '김태형', '김석진']
박지민 010-1111-1234

In [74]:
text = "Hello, Python!"

In [ ]:
text.

In [76]:
"12345".isdigit()

True

In [73]:
text.count('l')

2

In [64]:
text = "1 2 3 4 5"

In [59]:
text[::-1]

'!nohtyP ,olleH'

In [70]:
words = text.split(", ")
"-".join(words)

'Hello-Python!'

In [67]:
text.replace("Python", "World")

'Hello, World!'

In [83]:
# 모스부호 해석기
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 
} 

# ".... . .-.. .-.. ---"  "hello" 
# ".--. -.-- - .... --- -."   "python" 

letters = ".--. -.-- - .... --- -."

# 코드작성
letters_list = letters.split()

answer = ''
for i in letters_list:
    answer += morse[i]

#"hello"
answer

'python'

In [ ]:
morse

#### set과 tuple

In [98]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [100]:
# a.union(b)
a | b

{1, 2, 3, 4, 5, 6}

In [102]:
# a & b
a.intersection(b)

{3, 4}

In [104]:
# a.difference(b)
a - b

{1, 2}

In [91]:
s2 = set()

In [ ]:
s.

In [97]:
s

{1, 2, 3, 4}

In [92]:
type(s2)

set

In [ ]:
immutable

In [105]:
t = (1, 2, 3)

In [109]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [107]:
type(t)

tuple

In [ ]:
# 도전미션 - 빼빼로 판매 

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.

손님1 = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

판매1 = ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [114]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

# 코드작성
answer = list(set(pepero))
answer.sort()
answer
# ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [117]:
# 중복되지 않는 단어의 갯수를 알려주세요! 
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

len(set(words.split()))

7

In [130]:
t = 1,2,3

In [131]:
t

(1, 2, 3)

In [132]:
type(t)

tuple